[submodule "hardware/thirdparty/kicad-pcblib"]
	path = hardware/thirdparty/kicad-pcblib
	url = https://github.com/cpavlina/kicad-pcblib
[submodule "hardware/thirdparty/kicad-utils"]
	path = hardware/thirdparty/kicad-utils
	url = https://trygvis.io/git/2016/07/kicad-utils.git
[submodule "hardware/thirdparty/kicad-ESP8266"]
	path = hardware/thirdparty/kicad-ESP8266
	url = https://github.com/jdunmire/kicad-ESP8266
[submodule "hardware/thirdparty/IPC-7351-footprints-generator"]
	path = hardware/thirdparty/IPC-7351-footprints-generator
	url = https://github.com/trygvis/IPC-7351-footprints-generator
