LOGLEVEL=debug
DLOCK_IGNORE_MISSING=notresponding-1,dev-0
DLOCK_API_CREDENTIALS="{{vault_http_api_credentials_temp}}"
MSGFLO_BROKER="mqtts://dlock-gateway:{{vault_mqtt_password_gateway}}@{{mqtt_hostname}}:8883"
