[Service]
ExecStart=/opt/dlock/src/venv-testdevices/bin/python /opt/dlock/src/gateway/testdevices.py
WorkingDirectory=/opt/dlock/testdevices
Restart=always
RestartSec=3
User=dlock
Group=dlock
EnvironmentFile=/etc/dlock/testdevices.env

[Unit]
After=network-online.target

[Install]
WantedBy=multi-user.target
