[Service]
ExecStart=/opt/dlock/src/venv/bin/python /opt/dlock/src/gateway/gateway.py
WorkingDirectory=/opt/dlock/src
Restart=always
RestartSec=3
User=dlock
Group=dlock
EnvironmentFile=/etc/dlock/gateway.env

[Unit]
After=network-online.target

[Install]
WantedBy=multi-user.target

