[Service]
ExecStart="/usr/bin/python3 ./firmware/dlockoslo.py %i"
WorkingDirectory=/home/dlock/dlock-oslo
Restart=always
RestartSec=3
User=dlock
Group=dlock
#EnvironmentFile=/etc/dlock13/%i.conf
Environment="MSGFLO_BROKER=mqtt://mqtt.bitraf.no?clientId=dlock13-%i"

[Unit]
After=network-online.target

[Install]
WantedBy=multi-user.target
